---
import { FORM_URL } from "@/constants";
import Link from "./ui/link.astro";
import { Image } from "astro:assets";
import teamImage from "@/assets/team.jpeg";
import { Icon } from "astro-icon/components";
---

<div
  class="grid md:grid-cols-2 gap-10 bg-black p-8 md:px-10 md:py-10 mt-20 mx-auto max-w-(--breakpoint-xl) rounded-lg flex flex-col items-center text-center md:text-left">
  <div>
    <Image
      alt="RadLax Team Image"
      src={teamImage}
      loading="eager"
      class="border-8"
    />
  </div>
  <div>
    <h2 class="text-white text-4xl tracking-tight">JOIN OUR NEXT TOURNAMENT</h2>
    <p class="text-slate-400 mt-4 text-lg">
      Our next tournament is coming up in November.<br /> Sign up now to find out
      about upcoming practices and join us for a weekend tournament!
    </p>
    <div class="flex flex-col md:flex-row mt-5">
      <Link
        href={FORM_URL}
        target="_blank"
        class="flex gap-1 items-center justify-center"
        style="inverted"
        rel="noopener">
        <Icon class="w-5 h-5" name="bx:bxs-edit" />
        Sign up now!
      </Link>
    </div>
  </div>
</div>
