---
// @ts-ignore
import { Icon } from "astro-icon/components";

const questions = [
  {
    title: "Do I need experience?",
    description:
      "No experience is required. You will learn to play through practices and tournament participation.",
    icon: "bx:bxs-message-rounded",
  },
  {
    title: "When will we practice?",
    description:
      "Practices are held in the weeks leading up to a tournament, and periodically between tournaments.",
    icon: "bx:bxs-message-rounded",
  },
  {
    title: "What equipment will I need?",
    description:
      "You'll need a stick, goggles, mouthguard, cleats and athletic wear. We'll provide you with a jersey.",
    icon: "bx:bxs-message-rounded",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Frequently Asked Questions
  </h2>
  <p class="text-lg mt-4 text-slate-400">
    If you have more questions, email coach Trout at <a
      href="mailto:ntrout77@gmail.com"
      rel="nofollow"
      class="text-teal">ntrout77@gmail.com</a
    >
  </p>
</div>

<div class="grid sm:grid-cols-2 lg:grid-cols-3 mt-16 gap-8 md:gap-16">
  {
    questions.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-teal">{item.title}</h3>{" "}
          <p class="text-slate-300 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
